asgiref==3.8.1
distlib==0.3.9
dj-database-url==3.0.0
Django==4.2.16
django-active-link==0.2.2
django-choices==2.0.0
django-countries==7.6.1
django-json-widget==2.0.1
filelock==3.18.0
gunicorn==23.0.0
packaging==23.2
pillow==10.4.0
platformdirs==4.3.7
psycopg==3.2.3
psycopg2==2.9.9
python-dotenv==1.0.1
python-env==1.0.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
virtualenv==20.26.3
whitenoise==6.7.0
